@import "./styles/theme.css";

*{
  box-sizing: border-box;
  max-width: 100%;
}

html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: var(--background-light);
}

#root {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.app-wrapper {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}

.app-wrapper::-webkit-scrollbar {
  display: none;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
